body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fce5cd;
}

.product-container {
    text-align: center;
    background: #fce5cd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#buy-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#buy-button:hover {
    background-color: #45a049;
}
